<header class="site-headerOZ" role="banner">
  {% include 'header-svg' %}
  <div class="text-card-wrapper ">
    <div class="heading-wrapper wow bounce ">
      <h1 class=" heading-container ">Create <span class="bold">jumbo</span> custom cards that <span class="bold">stick</span> to any surface.</h1>
      <h2 class="subheading-container">Consectetur Adipiscing dolor sit amet, consectetur adipiscing elit. Dras vestibulum ante vitae accumsan malesuada.</h2>
    </div>
   
    {{ "https://cdn.shopify.com/s/files/1/0014/1043/3093/files/Untitled-1.gif?5314316557462998021" | img_tag }}
</video>

  </div>
  <div class="button-wrapper">
    <a href="/collections/all"><button>shop Now</button></a>
  </div>

</header>


<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
<section id="#categories" style="position: relative;">
<svg class="category-svg " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 643 643">
  <defs>
    <style>
      .cls-2 {
        fill: url(#linear-gradient2);
      }
    </style>
    <linearGradient id="linear-gradient2" x1="0.451" y1="0.327" x2="0.703" y2="0.927" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#bcd631"/>
      <stop offset="1" stop-color="#e3f96d"/>
    </linearGradient>
  </defs>
  <circle id="Pink_Circle_Left" data-name="Pink Circle Left" class="cls-2" cx="321.5" cy="321.5" r="321.5"/>
</svg>
  <h2 style="text-align: center; color: #01ACDA;">Feel free to browse! Here are our categories.</h2>
{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="category-grid wow slideInUp">

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for collection in collections %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% include 'category-product-grid-item' %}

  {% endfor %}
</div>
</section>
<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
<section id="#instructions" style="position: relative;" class="wow slideInUp">
<svg class="simple-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 643 643">
  <defs>
    <style>
      .cls-5 {
        fill: url(#linear-gradient5);
      }
    </style>
    <linearGradient id="linear-gradient5" x1="0.451" y1="0.327" x2="0.703" y2="0.927" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#63DCED"/>
      <stop offset="1" stop-color="#6C7FDF"/>
    </linearGradient>
  </defs>
  <circle id="Pink_Circle_Left" data-name="Pink Circle Left" class="cls-5" cx="321.5" cy="321.5" r="321.5"/>
</svg>
{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="simple-instruction">
  <h2 style="text-align: center; color: #01ACDA;">It's really this <span>simple</span>. </h2>
  <div class="instruction-wrapper">
    <div class="instruction1">
      <h2>1</h2>
      <h3>Choose A Design.</h3>
      <h3><i class="far fa-hand-pointer fa-2x"></i></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, culpa!</p>
    </div>
    <div class="instruction2">
      <h2>2</h2>
      <h3>Customize It!</h3>
      <h3><i class="fas fa-adjust fa-2x"></i></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, culpa!</p>
    </div>
    <div class="instruction3">
      <h2>3</h2>
      <h3>Get It Shipped.</h3>
      <h3><i class="fas fa-shipping-fast fa-2x"></i></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, culpa!</p>
    </div>
  </div>
  <svg class="instruction-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 228 228">
  <defs>
    <style>
      .cls-3 {
        fill: url(#linear-gradient3);
      }
    </style>
    <linearGradient id="linear-gradient3" x1="0.18" x2="0.204" y2="1.113" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#f4df62"/>
      <stop offset="1" stop-color="#ffbd14"/>
    </linearGradient>
  </defs>
  <circle id="Yellow_Circle_Left" data-name="Yellow Circle Left" class="cls-3" cx="114" cy="114" r="114"/>
</svg>

</div>
</section>
<section id="emotion">
  <div class="card-Left wow slideInLeft">
    <h2>Keep it forever.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam quos dicta accusantium aperiam sapiente inventore perspiciatis odit! Eligendi, quisquam? At officiis itaque molestias modi vel cum doloremque fuga inventore!</p>
  </div>
  <div class="card-right wow slideInRight">
    <h2>It's not your average greeting card. </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam quos dicta accusantium aperiam sapiente inventore perspiciatis odit! Eligendi, quisquam? At officiis itaque molestias modi vel cum doloremque fuga inventore!</p>
  </div>
    <svg class="emotion-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 190 190">
    <defs>
      <style>
        .cls-1 {
          fill: url(#linear-gradient);
        }
      </style>
      <linearGradient id="linear-gradient" x1="0.18" x2="0.204" y2="1.113" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#f47cbf"/>
        <stop offset="1" stop-color="#ffa0a0"/>
      </linearGradient>
    </defs>
    <path id="Small_Blue_Circle_Right" data-name="Small Blue Circle Right" class="cls-1" d="M95,0A95,95,0,1,1,0,95,95,95,0,0,1,95,0Z"/>
  </svg>
</section>
<section id="testimonials">
  <div class="background">
    <blockquote>"My daughter loved her birthday card!"
    </blockquote>
  </div>
</section>
<section id="heart">
<div class="wow zoomIn">
  <svg class="heart-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 303.228 279.422">
  <defs>
    <style>
      .cls-7 {
        fill: url(#linear-gradient7);
      }
    </style>
    <linearGradient id="linear-gradient7" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#f4df62"/>
      <stop offset="1" stop-color="#ffbd14"/>
    </linearGradient>
  </defs>
  <g id="Heart" transform="translate(-531.136 -2652.553)">
    <ellipse id="Ellipse_14" data-name="Ellipse 14" class="cls-7" cx="81.527" cy="114" rx="81.527" ry="114" transform="translate(786.345 2850.447) rotate(150)"/>
    <ellipse id="Ellipse_13" data-name="Ellipse 13" class="cls-7" cx="81.527" cy="114" rx="81.527" ry="114" transform="translate(693.154 2652.553) rotate(30)"/>
  </g>
</svg>
</div>
  
<h2>Make someone happy forever.</h2>
  <div class="button-wrapper2">
    <a href="/collections/all"><button>shop Now</button></a>
  </div>
</section>

